USE [master]
GO
/****** Object:  Database [VENTAS]    Script Date: 28/03/2023 12:00:29 a. m. ******/
CREATE DATABASE [VENTAS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VENTAS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\VENTAS.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'VENTAS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\VENTAS_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VENTAS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VENTAS]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_EXISTENCIA]    Script Date: 28/03/2023 12:00:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_EXISTENCIA] (@id_producto as INT)
RETURNS int


BEGIN
	--declare @id_producto int = 0
	--set @id_producto = 1

	DECLARE @CANTIDAD FLOAT
	SET @CANTIDAD=ISNULL((SELECT SUM(CD_CANTIDAD)FROM COMPRAS_DETALLE WHERE CD_ID_PRODUCTO= @id_producto),0)
	- isnull((SELECT SUM(VD_CANTIDAD)FROM VENTAS_DETALLE WHERE VD_ID_PRODUCTO= @id_producto),0)

	--select @CANTIDAD

	RETURN @CANTIDAD
END

   
--WITH ENCRYPTION|SCHEMABINDING, ...
GO
/****** Object:  UserDefinedFunction [dbo].[FN_IMP_PEDIDOS]    Script Date: 28/03/2023 12:00:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_IMP_PEDIDOS] (@FOLIO AS TINYINT)
RETURNS FLOAT
BEGIN
	DECLARE @IMPORTE FLOAT
	SET @IMPORTE = ISNULL ((SELECT SUM (PD_IMPORTE) FROM PEDIDOS_DETALLE WHERE PD_FOLIO = @FOLIO),0) 

	RETURN @IMPORTE
END
GO
/****** Object:  Table [dbo].[ALMACENES]    Script Date: 28/03/2023 12:00:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALMACENES](
	[AL_ID] [tinyint] NOT NULL,
	[AL_NOMBRE] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[AL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 28/03/2023 12:00:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[CL_ID] [tinyint] NOT NULL,
	[CL_NOMBRE] [varchar](200) NOT NULL,
	[CL_RFC] [char](13) NOT NULL,
	[CL_CORREO] [char](200) NULL,
	[CL_LADA] [char](3) NOT NULL,
	[CL_TELEFONO] [char](7) NOT NULL,
	[CL_CALLE] [varchar](150) NULL,
	[CL_NUMERO_EXT] [char](10) NULL,
	[CL_CTABANCARIA] [varchar](150) NULL,
	[CL_CONTACTO] [varchar](150) NULL,
	[CL_TELEF_CONTACTO] [char](10) NULL,
	[CL_REGIMEN] [char](3) NULL,
 CONSTRAINT [PK__CLIENTE__3214EC27D19E3299] PRIMARY KEY CLUSTERED 
(
	[CL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPRAS]    Script Date: 28/03/2023 12:00:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPRAS](
	[CO_FOLIO] [tinyint] NOT NULL,
	[CO_SERIE] [char](3) NOT NULL,
	[CO_ID_TIPODOCTO] [tinyint] NOT NULL,
	[CO_MONTO] [tinyint] NOT NULL,
	[CO_ID_PROVEEDOR] [tinyint] NOT NULL,
	[CO_ID_ALMACEN] [tinyint] NOT NULL,
	[CO_FACTURA] [varchar](20) NOT NULL,
	[CO_FECHA] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CO_FOLIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPRAS_DETALLE]    Script Date: 28/03/2023 12:00:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPRAS_DETALLE](
	[CD_FOLIO] [tinyint] NOT NULL,
	[CD_SERIE] [char](3) NOT NULL,
	[CD_ID_TIPODOCTO] [tinyint] NOT NULL,
	[CD_ID_PRODUCTO] [int] NOT NULL,
	[CD_CANTIDAD] [float] NOT NULL,
	[CD_IMPORTE] [float] NOT NULL,
	[CD_IVA] [float] NOT NULL,
	[CD_UBICACION] [tinyint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUENTASPORCOBRAR]    Script Date: 28/03/2023 12:00:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUENTASPORCOBRAR](
	[CX_FOLIO] [tinyint] NOT NULL,
	[CX_SERIE] [char](3) NOT NULL,
	[CX_ID_TIPODOCTO] [tinyint] NOT NULL,
	[CX_ID_CLIENTE] [tinyint] NOT NULL,
	[CX_FECHA] [datetime] NOT NULL,
	[CX_IMPORTE] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CX_FOLIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUENTASPORPAGAR]    Script Date: 28/03/2023 12:00:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUENTASPORPAGAR](
	[CXP_FOLIO] [tinyint] NOT NULL,
	[CXP_SERIE] [char](3) NOT NULL,
	[CXP_ID_TIPODOCTO] [tinyint] NOT NULL,
	[CXP_ID_PROVEEDOR] [tinyint] NOT NULL,
	[CXP_FECHA] [datetime] NOT NULL,
	[CXP_IMPORTE] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CXP_FOLIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CXC_DETALLE]    Script Date: 28/03/2023 12:00:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CXC_DETALLE](
	[CXD_FOLIO] [tinyint] NOT NULL,
	[CXD_SERIE] [char](3) NOT NULL,
	[CXD_ID_TIPODOCTO] [tinyint] NOT NULL,
	[CXD_FACTURA] [tinyint] NOT NULL,
	[CXD_IMPORTE] [float] NOT NULL,
	[CXD_ABONO] [float] NOT NULL,
	[CXD_SALDO] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CXP_DETALLE]    Script Date: 28/03/2023 12:00:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CXP_DETALLE](
	[CXPD_FOLIO] [tinyint] NOT NULL,
	[CXPD_SERIE] [char](3) NOT NULL,
	[CXPD_ID_TIPODOCTO] [tinyint] NOT NULL,
	[CXPD_FACTURA] [tinyint] NOT NULL,
	[CXPD_IMPORTE] [float] NOT NULL,
	[CXPD_ABONO] [float] NOT NULL,
	[CXPD_SALDO] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURAS_CLIENTES]    Script Date: 28/03/2023 12:00:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURAS_CLIENTES](
	[FC_FOLIO] [tinyint] NULL,
	[FC_SERIE] [char](3) NULL,
	[FC_FECHA] [datetime] NULL,
	[FC_ID_CLIENTE] [tinyint] NULL,
	[FC_IMPORTE] [float] NULL,
	[FC_ABONO] [float] NULL,
	[FC_SALDO] [float] NULL,
	[FC_PEDIDOS_CLIENTES] [tinyint] NULL,
 CONSTRAINT [IX_FACTURAS_CLIENTES] UNIQUE NONCLUSTERED 
(
	[FC_FOLIO] ASC,
	[FC_PEDIDOS_CLIENTES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURAS_PROVEEDOR]    Script Date: 28/03/2023 12:00:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURAS_PROVEEDOR](
	[FP_FOLIO] [tinyint] NOT NULL,
	[FP_SERIE] [char](3) NOT NULL,
	[FP_FECHA] [datetime] NOT NULL,
	[FP_ID_PROVEEDOR] [tinyint] NOT NULL,
	[FP_IMPORTE] [float] NOT NULL,
	[FP_ABONO] [float] NOT NULL,
	[FP_SALDO] [float] NOT NULL,
 CONSTRAINT [PK__FACTURAS__A1C662AA4117641C] PRIMARY KEY CLUSTERED 
(
	[FP_FOLIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDOS]    Script Date: 28/03/2023 12:00:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDOS](
	[PE_ID_CLIENTE] [tinyint] NOT NULL,
	[PE_FOLIO] [tinyint] NOT NULL,
	[PE_SERIE] [char](3) NOT NULL,
	[PE_ID_TIPODOCTO] [tinyint] NOT NULL,
	[PE_ID_ALMACEN] [tinyint] NOT NULL,
	[PE_FECHA] [datetime] NOT NULL,
 CONSTRAINT [PK_PEDIDOS] PRIMARY KEY CLUSTERED 
(
	[PE_FOLIO] ASC,
	[PE_SERIE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDOS_DETALLE]    Script Date: 28/03/2023 12:00:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDOS_DETALLE](
	[PD_FOLIO] [tinyint] NOT NULL,
	[PD_SERIE] [char](3) NOT NULL,
	[PD_ID_TIPODOCTO] [tinyint] NOT NULL,
	[PD_ID_PRODUCTO] [int] NOT NULL,
	[PD_CANTIDAD] [float] NOT NULL,
	[PD_IMPORTE] [float] NOT NULL,
	[PD_IVA] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 28/03/2023 12:00:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[PR_ID] [int] NOT NULL,
	[PR_NOMBRE] [varchar](100) NOT NULL,
	[PR_ID_UNIDAD] [tinyint] NOT NULL,
	[PR_STOCK_MIN] [float] NOT NULL,
	[PR_STOCK_MAX] [float] NULL,
	[PR_ID_TP] [tinyint] NOT NULL,
	[PR_PRECIO] [float] NULL,
	[PR_IVA] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[PR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDORES]    Script Date: 28/03/2023 12:00:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDORES](
	[PRO_ID] [tinyint] NOT NULL,
	[PRO_NOMBRE] [varchar](200) NOT NULL,
	[PRO_RFC] [char](13) NOT NULL,
	[PRO_CORREO] [varchar](200) NULL,
	[PRO_LADA] [char](3) NOT NULL,
	[PRO_TELEFONO] [char](7) NOT NULL,
	[PRO_CALLE] [varchar](150) NOT NULL,
	[PRO_NUMERO_EXT] [char](10) NOT NULL,
	[PRO_CTABANCARIA] [varchar](150) NULL,
	[PRO_CONTACTO] [varchar](150) NULL,
	[PRO_TELEF_CONTACTO] [char](10) NULL,
	[PRO_REGIMEN] [char](3) NULL,
 CONSTRAINT [PK__PROVEEDO__0A464EEB28331ADC] PRIMARY KEY CLUSTERED 
(
	[PRO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REGIMEN]    Script Date: 28/03/2023 12:00:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REGIMEN](
	[RE_ID] [char](3) NOT NULL,
	[RE_DESCRIPCION] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 28/03/2023 12:00:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[RL_ID_ROL] [tinyint] NOT NULL,
	[RL_DESCRIPCION] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RL_ID_ROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_DOCUMENTO]    Script Date: 28/03/2023 12:00:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_DOCUMENTO](
	[ID_TIPODOCTO] [tinyint] NOT NULL,
	[DESCRIPCION] [varchar](100) NULL,
	[ENTRADA_SALIDA] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TIPODOCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_PRODUCTO]    Script Date: 28/03/2023 12:00:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_PRODUCTO](
	[TP_ID_TP] [tinyint] NOT NULL,
	[TP_NOMBRE] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TP_ID_TP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TMP_COMPRA]    Script Date: 28/03/2023 12:00:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMP_COMPRA](
	[TMP_CO_FOLIO] [tinyint] NULL,
	[TMP_CO_SERIE] [char](3) NULL,
	[TMP_CO_ID_TIPODOCTO] [tinyint] NULL,
	[TMP_CO_ID_PRODUCTO] [int] NULL,
	[TMP_CO_MONTO] [tinyint] NULL,
	[TMP_CO_ID_PROVEEDOR] [tinyint] NULL,
	[TMP_CO_ID_ALMACEN] [tinyint] NULL,
	[TMP_CO_FACTURA] [varchar](20) NULL,
	[TMP_CO_FECHA] [datetime] NULL,
	[TMP_CD_IMPORTE] [float] NULL,
	[TMP_CD_IVA] [float] NULL,
	[TMP_CD_UBICACION] [tinyint] NULL,
	[TMP_CD_CANTIDAD] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TMPVENTA_DETALLE]    Script Date: 28/03/2023 12:00:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMPVENTA_DETALLE](
	[TMP_ID_CLIENTE] [tinyint] NOT NULL,
	[TMP_ID_ALMACEN] [tinyint] NOT NULL,
	[TMP_FOLIO] [tinyint] NOT NULL,
	[TMP_SERIE] [char](3) NOT NULL,
	[TMP_ID_TIPODOCTO] [tinyint] NOT NULL,
	[TMP_ID_PRODUCTO] [int] NOT NULL,
	[TMP_CANTIDAD] [float] NOT NULL,
	[TMP_IMPORTE] [float] NOT NULL,
	[TMP_IVA] [float] NOT NULL,
	[TMP_MONTO] [float] NOT NULL,
	[TMP_FECHA] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UBICACION]    Script Date: 28/03/2023 12:00:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UBICACION](
	[ID] [tinyint] NOT NULL,
	[NOMBRE] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UNIDAD]    Script Date: 28/03/2023 12:00:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UNIDAD](
	[UN_ID] [tinyint] NOT NULL,
	[UN_DESCRIPCION] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[UN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 28/03/2023 12:00:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[US_ID_USUARIO] [int] NOT NULL,
	[US_USUARIO] [varchar](50) NOT NULL,
	[US_NOMBRE] [varchar](50) NOT NULL,
	[US_NICK] [char](20) NOT NULL,
	[US_CONTRASEÑA] [char](10) NOT NULL,
	[US_ROL] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[US_ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENTAS]    Script Date: 28/03/2023 12:00:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTAS](
	[VE_FOLIO] [tinyint] NOT NULL,
	[VE_SERIE] [char](3) NOT NULL,
	[VE_ID_TIPODOCTO] [tinyint] NOT NULL,
	[VE_MONTO] [float] NOT NULL,
	[VE_ID_CLIENTE] [tinyint] NOT NULL,
	[VE_ID_ALMACEN] [tinyint] NOT NULL,
	[VE_FECHA] [datetime] NOT NULL,
 CONSTRAINT [PK__VENTA__E96228315AC35CC5] PRIMARY KEY CLUSTERED 
(
	[VE_FOLIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENTAS_DETALLE]    Script Date: 28/03/2023 12:00:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTAS_DETALLE](
	[VD_FOLIO] [tinyint] IDENTITY(1,1) NOT NULL,
	[VD_SERIE] [char](3) NOT NULL,
	[VD_ID_TIPODOCTO] [tinyint] NOT NULL,
	[VD_ID_PRODUCTO] [int] NOT NULL,
	[VD_CANTIDAD] [float] NOT NULL,
	[VD_IMPORTE] [float] NOT NULL,
	[VD_IVA] [float] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD FOREIGN KEY([CL_REGIMEN])
REFERENCES [dbo].[REGIMEN] ([RE_ID])
GO
ALTER TABLE [dbo].[CUENTASPORCOBRAR]  WITH CHECK ADD FOREIGN KEY([CX_ID_TIPODOCTO])
REFERENCES [dbo].[TIPO_DOCUMENTO] ([ID_TIPODOCTO])
GO
ALTER TABLE [dbo].[CUENTASPORPAGAR]  WITH CHECK ADD FOREIGN KEY([CXP_ID_TIPODOCTO])
REFERENCES [dbo].[TIPO_DOCUMENTO] ([ID_TIPODOCTO])
GO
ALTER TABLE [dbo].[CXC_DETALLE]  WITH CHECK ADD FOREIGN KEY([CXD_FOLIO])
REFERENCES [dbo].[CUENTASPORCOBRAR] ([CX_FOLIO])
GO
ALTER TABLE [dbo].[CXC_DETALLE]  WITH CHECK ADD FOREIGN KEY([CXD_ID_TIPODOCTO])
REFERENCES [dbo].[TIPO_DOCUMENTO] ([ID_TIPODOCTO])
GO
ALTER TABLE [dbo].[CXP_DETALLE]  WITH CHECK ADD FOREIGN KEY([CXPD_FOLIO])
REFERENCES [dbo].[CUENTASPORPAGAR] ([CXP_FOLIO])
GO
ALTER TABLE [dbo].[CXP_DETALLE]  WITH CHECK ADD FOREIGN KEY([CXPD_ID_TIPODOCTO])
REFERENCES [dbo].[TIPO_DOCUMENTO] ([ID_TIPODOCTO])
GO
ALTER TABLE [dbo].[FACTURAS_CLIENTES]  WITH CHECK ADD  CONSTRAINT [FK_FACTURAS_CLIENTES_FACTURAS_CLIENTES] FOREIGN KEY([FC_FOLIO], [FC_PEDIDOS_CLIENTES])
REFERENCES [dbo].[FACTURAS_CLIENTES] ([FC_FOLIO], [FC_PEDIDOS_CLIENTES])
GO
ALTER TABLE [dbo].[FACTURAS_CLIENTES] CHECK CONSTRAINT [FK_FACTURAS_CLIENTES_FACTURAS_CLIENTES]
GO
ALTER TABLE [dbo].[FACTURAS_CLIENTES]  WITH CHECK ADD  CONSTRAINT [FK_FACTURAS_CLIENTES_PEDIDOS] FOREIGN KEY([FC_PEDIDOS_CLIENTES], [FC_SERIE])
REFERENCES [dbo].[PEDIDOS] ([PE_FOLIO], [PE_SERIE])
GO
ALTER TABLE [dbo].[FACTURAS_CLIENTES] CHECK CONSTRAINT [FK_FACTURAS_CLIENTES_PEDIDOS]
GO
ALTER TABLE [dbo].[FACTURAS_PROVEEDOR]  WITH CHECK ADD  CONSTRAINT [FK__FACTURAS___FP_ID__3D5E1FD2] FOREIGN KEY([FP_ID_PROVEEDOR])
REFERENCES [dbo].[PROVEEDORES] ([PRO_ID])
GO
ALTER TABLE [dbo].[FACTURAS_PROVEEDOR] CHECK CONSTRAINT [FK__FACTURAS___FP_ID__3D5E1FD2]
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD FOREIGN KEY([PE_ID_ALMACEN])
REFERENCES [dbo].[ALMACENES] ([AL_ID])
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD FOREIGN KEY([PE_ID_CLIENTE])
REFERENCES [dbo].[CLIENTES] ([CL_ID])
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD FOREIGN KEY([PE_ID_TIPODOCTO])
REFERENCES [dbo].[TIPO_DOCUMENTO] ([ID_TIPODOCTO])
GO
ALTER TABLE [dbo].[PEDIDOS_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK__PEDIDOS_D__PD_ID__44FF419A] FOREIGN KEY([PD_ID_TIPODOCTO])
REFERENCES [dbo].[TIPO_DOCUMENTO] ([ID_TIPODOCTO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PEDIDOS_DETALLE] CHECK CONSTRAINT [FK__PEDIDOS_D__PD_ID__44FF419A]
GO
ALTER TABLE [dbo].[PEDIDOS_DETALLE]  WITH CHECK ADD FOREIGN KEY([PD_ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTOS] ([PR_ID])
GO
ALTER TABLE [dbo].[PEDIDOS_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDOS_DETALLE_PEDIDOS] FOREIGN KEY([PD_FOLIO], [PD_SERIE])
REFERENCES [dbo].[PEDIDOS] ([PE_FOLIO], [PE_SERIE])
GO
ALTER TABLE [dbo].[PEDIDOS_DETALLE] CHECK CONSTRAINT [FK_PEDIDOS_DETALLE_PEDIDOS]
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD FOREIGN KEY([PR_ID_UNIDAD])
REFERENCES [dbo].[UNIDAD] ([UN_ID])
GO
ALTER TABLE [dbo].[PROVEEDORES]  WITH CHECK ADD  CONSTRAINT [FK__PROVEEDOR__PRO_R__25869641] FOREIGN KEY([PRO_REGIMEN])
REFERENCES [dbo].[REGIMEN] ([RE_ID])
GO
ALTER TABLE [dbo].[PROVEEDORES] CHECK CONSTRAINT [FK__PROVEEDOR__PRO_R__25869641]
GO
ALTER TABLE [dbo].[TMPVENTA_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK__TMPVENTA___TMP_I__47DBAE45] FOREIGN KEY([TMP_ID_CLIENTE])
REFERENCES [dbo].[CLIENTES] ([CL_ID])
GO
ALTER TABLE [dbo].[TMPVENTA_DETALLE] CHECK CONSTRAINT [FK__TMPVENTA___TMP_I__47DBAE45]
GO
ALTER TABLE [dbo].[TMPVENTA_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK__TMPVENTA___TMP_I__48CFD27E] FOREIGN KEY([TMP_ID_ALMACEN])
REFERENCES [dbo].[ALMACENES] ([AL_ID])
GO
ALTER TABLE [dbo].[TMPVENTA_DETALLE] CHECK CONSTRAINT [FK__TMPVENTA___TMP_I__48CFD27E]
GO
ALTER TABLE [dbo].[TMPVENTA_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK__TMPVENTA___TMP_I__49C3F6B7] FOREIGN KEY([TMP_ID_TIPODOCTO])
REFERENCES [dbo].[TIPO_DOCUMENTO] ([ID_TIPODOCTO])
GO
ALTER TABLE [dbo].[TMPVENTA_DETALLE] CHECK CONSTRAINT [FK__TMPVENTA___TMP_I__49C3F6B7]
GO
ALTER TABLE [dbo].[TMPVENTA_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK__TMPVENTA___TMP_I__4AB81AF0] FOREIGN KEY([TMP_ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTOS] ([PR_ID])
GO
ALTER TABLE [dbo].[TMPVENTA_DETALLE] CHECK CONSTRAINT [FK__TMPVENTA___TMP_I__4AB81AF0]
GO
/****** Object:  StoredProcedure [dbo].[SP_ALMACENN]    Script Date: 28/03/2023 12:00:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ALMACENN]
@OP TINYINT = 0,
@AL_ID TINYINT = 0,
@AL_NOMBRE VARCHAR (200)= NULL
AS
BEGIN 
	/*GUARDA Y ACTUALIZA*/
	IF @OP = 1
	BEGIN 
		SET @AL_ID =(SELECT ISNULL(MAX(AL_ID),0) + 1 FROM ALMACENES) 
		IF NOT EXISTS(SELECT * FROM ALMACENES WHERE AL_ID = @AL_ID)
			BEGIN
				INSERT INTO  ALMACENES(AL_ID,AL_NOMBRE)
				VALUES(@AL_ID, @AL_NOMBRE)
			END
	END
	/*ACTULIZA*/
	IF @OP = 2
	BEGIN 
			UPDATE ALMACENES SET AL_NOMBRE = @AL_NOMBRE
			WHERE AL_ID = @AL_ID
	END
END
	/*----------------------------------------------------------------------------------------------------------------*/
	/*IF @OP = 2
	BEGIN 
	--ELIMINA UN ALMACEN EN ESPECIFICO
		DELETE FROM ALMACENES WHERE AL_ID = @AL_ID

	END
END*/
GO
/****** Object:  StoredProcedure [dbo].[SP_CLIENTE]    Script Date: 28/03/2023 12:00:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CLIENTE]

@OP TINYINT = 0,
@CL_ID TINYINT = 0,
@CL_NOMBRE VARCHAR(200) = NULL,
@CL_RFC CHAR (13) = NULL,
@CL_CORREO CHAR (200) = NULL,
@CL_LADA CHAR (3) = NULL,
@CL_TELEFONO CHAR (7) = NULL,
@CL_CALLE VARCHAR (150) = NULL,
@CL_NUMERO_EXT CHAR (10) = NULL,
@CL_CTABANCARIA VARCHAR (150) = NULL,
@CL_CONTACTO VARCHAR (150) = NULL,
@CL_TELEF_CONTACTO CHAR (10) = NULL,
@CL_REGIMEN CHAR (3) = NULL
AS
BEGIN

	-- GUARDA Y ACTUALIZA
	IF @OP = 1
	BEGIN
		-- OBTIENE EL CONSECUTIVO DEL CLIENTE -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
		
		IF NOT EXISTS (SELECT * FROM CLIENTES WHERE CL_ID = @CL_ID)
			BEGIN
				SET @CL_ID = (SELECT ISNULL(MAX(CL_ID),0) + 1 FROM CLIENTES)
				INSERT INTO CLIENTES ( CL_ID, CL_NOMBRE, CL_RFC, CL_CORREO, CL_LADA, CL_TELEFONO, CL_CALLE, CL_NUMERO_EXT, CL_CTABANCARIA, CL_CONTACTO, CL_TELEF_CONTACTO, CL_REGIMEN)
				VALUES ( @CL_ID, @CL_NOMBRE, @CL_RFC, @CL_CORREO, @CL_LADA, @CL_TELEFONO, @CL_CALLE, @CL_NUMERO_EXT, @CL_CTABANCARIA, @CL_CONTACTO, @CL_TELEF_CONTACTO, @CL_REGIMEN)
			END
		
		IF @OP = 2
			BEGIN
				UPDATE CLIENTES SET CL_NOMBRE=@CL_NOMBRE , CL_RFC = @CL_RFC, CL_CORREO = @CL_CORREO, CL_LADA = @CL_LADA, CL_TELEFONO = @CL_TELEFONO , CL_CALLE = @CL_CALLE, CL_NUMERO_EXT = @CL_NUMERO_EXT , CL_CTABANCARIA = @CL_CTABANCARIA , CL_CONTACTO = @CL_CONTACTO , CL_TELEF_CONTACTO = @CL_TELEF_CONTACTO, CL_REGIMEN = @CL_REGIMEN
				WHERE CL_ID = @CL_ID
			END
	END
	---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	IF @OP = 3
	BEGIN
			DELETE FROM CLIENTES WHERE CL_ID = @CL_ID
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CLIENTES_PARCIAL]    Script Date: 28/03/2023 12:00:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROCEDURE [dbo].[SP_CLIENTES_PARCIAL]
@OP  TINYINT = 0,
@CL_ID TINYINT = 0,
@CL_NOMBRE VARCHAR (200) = NULL,
@CL_RFC CHAR (13) = NULL,
@CL_CORREO CHAR (200) = NULL,
@CL_LADA CHAR (3) = NULL,
@CL_TELEFONO CHAR (7) = NULL,
@CL_CALLE VARCHAR (150) = NULL,
@CL_NUMERO_EXT CHAR (10) = NULL,
@CL_CTABANCARIA VARCHAR (150) = NULL,
@CL_CONTACTO VARCHAR (150) = NULL,
@CL_TELEFONO_CONTACTO CHAR (10) = NULL,
@CL_REGIMEN CHAR (3) = NULL
AS
BEGIN
	IF @OP = 1
	BEGIN
		-- OBTIENE EL CONSECUTIVO DEL CLIENTE -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
		
		IF NOT EXISTS (SELECT * FROM CLIENTES WHERE CL_ID = @CL_ID)
			BEGIN
				SET @CL_ID = (SELECT ISNULL(MAX(CL_ID),0) + 1 FROM CLIENTES)
				INSERT INTO CLIENTES ( CL_ID, CL_NOMBRE, CL_RFC, CL_CORREO, CL_LADA, CL_TELEFONO, CL_CALLE, CL_NUMERO_EXT, CL_CTABANCARIA, CL_CONTACTO, CL_TELEF_CONTACTO, CL_REGIMEN)
				VALUES ( @CL_ID, @CL_NOMBRE, @CL_RFC, @CL_CORREO, @CL_LADA, @CL_TELEFONO, @CL_CALLE, @CL_NUMERO_EXT, @CL_CTABANCARIA, @CL_CONTACTO, @CL_TELEFONO_CONTACTO, @CL_REGIMEN)
			END
		
		
	END
	IF @OP = 2
			BEGIN
				UPDATE CLIENTES SET CL_NOMBRE = @CL_NOMBRE , CL_RFC = @CL_RFC, CL_CORREO = @CL_CORREO, CL_LADA = @CL_LADA, CL_TELEFONO = @CL_TELEFONO , CL_CALLE = @CL_CALLE, CL_NUMERO_EXT = @CL_NUMERO_EXT , CL_CTABANCARIA = @CL_CTABANCARIA , CL_CONTACTO = @CL_CONTACTO , CL_TELEF_CONTACTO = @CL_TELEFONO_CONTACTO, CL_REGIMEN = @CL_REGIMEN
				WHERE CL_ID = @CL_ID
			END
	---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	IF @OP = 3
	BEGIN
			DELETE FROM CLIENTES WHERE CL_ID = @CL_ID
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EXISTENCIAS]    Script Date: 28/03/2023 12:00:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_EXISTENCIAS]
@VA varchar (500) = '',
@id_producto TINYINT = 0
AS
BEGIN 
	if @VA = 'boton'
	begin
		select a.AL_ID as id_producto,p.PR_NOMBRE as descripcion,(select dbo.FN_EXISTENCIA( @id_producto )) as existencia from ALMACENES a
		INNER JOIN dbo.PRODUCTOS p ON a.AL_ID = p.PR_ID
		where a.AL_ID = @id_producto 
	END
	else if @VA = 'masiva'
	begin
		select a.AL_ID as id_producto,p.PR_NOMBRE as descripcion,(select dbo.FN_EXISTENCIA( a.AL_ID )) as existencia from ALMACENES a
		INNER JOIN dbo.PRODUCTOS p ON a.AL_ID = p.PR_ID
	end
	else if @VA = 'llenaCombo'
	begin
		select * from almacenes
	end
	
END
GO
/****** Object:  StoredProcedure [dbo].[SP_PRODUCTO]    Script Date: 28/03/2023 12:00:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_PRODUCTO] 
@OP TINYINT = 0,
@PR_ID TINYINT = 0,
@PR_NOMBRE VARCHAR (100) = NULL,
@PR_ID_UNIDAD TINYINT = 0,
@PR_STOCK_MIN FLOAT,
@PR_STOCK_MAX FLOAT,
@PR_ID_TP TINYINT = 0,
@PR_PRECIO FLOAT,
@PR_IVA FLOAT
AS
BEGIN
	--GUARDA Y ACTUALIZA 
		IF @OP = 1
		BEGIN 
			SET @PR_ID =(SELECT ISNULL(MAX(PR_ID),0) + 1 FROM PRODUCTOS)
			IF NOT EXISTS(SELECT * FROM PRODUCTOS WHERE PR_ID = @PR_ID)
				BEGIN 
					INSERT INTO PRODUCTOS(PR_ID, PR_NOMBRE, PR_ID_UNIDAD, PR_STOCK_MIN, PR_STOCK_MAX, PR_ID_TP, PR_PRECIO, PR_IVA)
					VALUES (@PR_ID, @PR_NOMBRE, @PR_ID_UNIDAD, @PR_STOCK_MIN, @PR_STOCK_MAX, @PR_ID_TP, @PR_PRECIO, @PR_IVA)
				END
		END
		--ACTUALIZAR DATOS
		IF @OP = 2
			BEGIN 
				UPDATE PRODUCTOS SET PR_NOMBRE = @PR_NOMBRE, PR_ID_UNIDAD = @PR_ID_UNIDAD, PR_STOCK_MIN = @PR_STOCK_MIN, PR_STOCK_MAX = @PR_STOCK_MAX, PR_ID_TP = @PR_ID_TP, PR_PRECIO = @PR_PRECIO, PR_IVA = @PR_IVA
				WHERE PR_ID = @PR_ID 
			END
		--------------------------------------------------------------------------------------------------------------------------
		IF @OP = 3
		BEGIN
			--ELIMINAR DATOS EN ESPECIFICO
			DELETE FROM PRODUCTOS WHERE PR_ID = @PR_ID
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_PROVEEDORES]    Script Date: 28/03/2023 12:00:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[SP_PROVEEDORES] 
@OP TINYINT = 0,
@PRO_ID TINYINT = 0,
@PRO_NOMBRE VARCHAR (200) = NULL,
@PRO_RFC CHAR (13) = NULL,
@PRO_CORREO VARCHAR (200) = NULL,
@PRO_LADA CHAR (3) = NULL,
@PRO_TELEFONO CHAR (7) = NULL,
@PRO_CALLE VARCHAR (150) = NULL,
@PRO_NUMERO_EXT CHAR (10) = NULL,
@PRO_CTABANCARIA VARCHAR (150) = NULL,
@PRO_CONTACTO VARCHAR (150) = NULL,
@PRO_TELEF_CONTACTO CHAR (10) = NULL,
@PRO_REGIMEN CHAR (3) = NULL
AS 
BEGIN
	--GUARDA Y ACTUALIZA
		IF @OP = 1
		BEGIN
			SET @PRO_ID=(SELECT ISNULL(MAX(PRO_ID),0) + 1 FROM PROVEEDORES)
			IF NOT EXISTS(SELECT * FROM PROVEEDORES WHERE PRO_ID = @PRO_ID)
				BEGIN 
					INSERT INTO PROVEEDORES(PRO_ID, PRO_NOMBRE, PRO_RFC, PRO_CORREO, PRO_LADA, PRO_TELEFONO, PRO_CALLE, PRO_NUMERO_EXT, PRO_CTABANCARIA, PRO_CONTACTO, PRO_TELEF_CONTACTO, PRO_REGIMEN)
					VALUES (@PRO_ID, @PRO_NOMBRE, @PRO_RFC, @PRO_CORREO, @PRO_LADA, @PRO_TELEFONO, @PRO_CALLE, @PRO_NUMERO_EXT, @PRO_CTABANCARIA, @PRO_CONTACTO, @PRO_TELEF_CONTACTO, @PRO_REGIMEN)
				END
		END 
		--ACTUALIZAR DATOS
		IF @OP = 2
			BEGIN 
				UPDATE PROVEEDORES SET PRO_NOMBRE = @PRO_NOMBRE, PRO_RFC = @PRO_RFC, PRO_CORREO = @PRO_CORREO, PRO_LADA = @PRO_LADA,
				PRO_TELEFONO = @PRO_TELEFONO, PRO_CALLE = @PRO_CALLE, PRO_NUMERO_EXT = @PRO_NUMERO_EXT, 
				PRO_CTABANCARIA = @PRO_CTABANCARIA, PRO_CONTACTO = @PRO_CONTACTO, PRO_TELEF_CONTACTO = @PRO_TELEF_CONTACTO, PRO_REGIMEN = @PRO_REGIMEN
				WHERE PRO_ID = @PRO_ID
			END
	--------------------------------------------------------------------------------------------------------------------------------------------------------
		IF @OP = 3
		BEGIN 
			--ELIMINA DATOS EN ESPECIFICO
			DELETE FROM PROVEEDORES WHERE PRO_ID = @PRO_ID
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UNIDAD]    Script Date: 28/03/2023 12:00:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UNIDAD]
@OP TINYINT = 0,
@UN_ID TINYINT = 0,
@UN_DESCRIPCION VARCHAR (100) = NULL
AS 
BEGIN
	IF @OP = 1
		--ACTUALIZAR Y REGISTRAR DATOS
		BEGIN
			SET @UN_ID=(SELECT ISNULL (MAX(UN_ID), 0) + 1 FROM UNIDAD)
			IF NOT EXISTS(SELECT * FROM UNIDAD WHERE UN_ID = @UN_ID)
				BEGIN 
				INSERT INTO UNIDAD(UN_ID,UN_DESCRIPCION)
				VALUES (@UN_ID, @UN_DESCRIPCION)
				END
		END
		--ACTUALIZAR DATOS 
		IF @OP = 2
			BEGIN
				UPDATE UNIDAD SET UN_DESCRIPCION = @UN_DESCRIPCION
				WHERE UN_ID = @UN_ID
			END
		-------------------------------------------------------------------------------------------------------------------------
		IF @OP = 3
		BEGIN
			--ELIMINA DATOS EN ESPECIFICO 
			DELETE FROM UNIDAD WHERE UN_ID = @UN_ID
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_WRITE_COMPRAS]    Script Date: 28/03/2023 12:00:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_WRITE_COMPRAS]
@VA varchar (500) = '',
@CD_FOLIO tinyint = 0,
@CD_SERIE char(3) = '',
@CD_ID_TIPODUCTO tinyint = 0,
@CD_ID_PRODUCTO int = 0,
@CD_CANTIDAD float = 0,
@CD_IMPORTE float = 0,
@CD_IVA float = 0,
@CD_UBICACION tinyint = 0

AS
BEGIN 
	if @VA = 'byGuardar'
	begin
		insert into COMPRAS_DETALLE (CD_SERIE,CD_ID_TIPODOCTO,CD_ID_PRODUCTO,CD_CANTIDAD,CD_IMPORTE,CD_IVA,CD_UBICACION)
		values(@CD_SERIE,@CD_ID_TIPODUCTO,@CD_ID_PRODUCTO,@CD_CANTIDAD,@CD_IMPORTE,@CD_IVA,@CD_UBICACION)
	END
    
	IF @VA = 'byActualizar'
		BEGIN
			UPDATE dbo.COMPRAS_DETALLE SET CD_SERIE = @CD_SERIE,CD_ID_TIPODOCTO = @CD_ID_TIPODUCTO,CD_ID_PRODUCTO = @CD_ID_TIPODUCTO,CD_CANTIDAD = @CD_CANTIDAD,CD_IMPORTE = @CD_IMPORTE,CD_IVA = @CD_IVA,CD_UBICACION = @CD_UBICACION
			WHERE CD_FOLIO = @CD_FOLIO
		END

	IF @VA = 'byEliminar'
		BEGIN
			DELETE FROM dbo.COMPRAS_DETALLE WHERE CD_FOLIO = @CD_FOLIO
		END
END


	

GO
/****** Object:  StoredProcedure [dbo].[SP_WRITE_COMPRAS2]    Script Date: 28/03/2023 12:00:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_WRITE_COMPRAS2]
@OP TINYINT = 0,
@TMP_CO_FOLIO TINYINT = 0,
@TMP_CO_SERIE CHAR (3) = 0,
@TMP_CO_ID_TIPODOCTO TINYINT = 0,
@TMP_CO_ID_PRODUCTO TINYINT = 0,
@TMP_CD_CANTIDAD float = 0,
@TMP_CO_MONTO TINYINT = 0,
@TMP_CO_ID_PROVEEDOR TINYINT = 0,
@TMP_CO_ID_ALMACEN TINYINT = 0,
@TMP_CO_FACTURA VARCHAR (20) = '',
@TMP_CO_FECHA DATETIME = '',
@TMP_CD_IMPORTE FLOAT = 0,
@TMP_CD_IVA FLOAT = 0,
@TMP_CD_UBICACION TINYINT = 0

AS
BEGIN


		IF @OP = 1
		BEGIN
    
		INSERT INTO dbo.TMP_COMPRA (TMP_CO_FOLIO,TMP_CO_SERIE,TMP_CO_ID_TIPODOCTO,TMP_CO_ID_PRODUCTO,TMP_CD_CANTIDAD,TMP_CO_MONTO,TMP_CO_ID_PROVEEDOR,TMP_CO_ID_ALMACEN,TMP_CO_FACTURA,TMP_CO_FECHA,TMP_CD_IMPORTE, TMP_CD_IVA, TMP_CD_UBICACION)			
		VALUES(@TMP_CO_FOLIO,@TMP_CO_SERIE,@TMP_CO_ID_TIPODOCTO,@TMP_CO_ID_PRODUCTO,@TMP_CO_MONTO,@TMP_CD_CANTIDAD,@TMP_CO_ID_PROVEEDOR,@TMP_CO_ID_ALMACEN,@TMP_CO_FACTURA,@TMP_CO_FECHA,@TMP_CD_IMPORTE,@TMP_CD_IVA,@TMP_CD_UBICACION)
	
		  
		END
	
	ELSE IF @OP = 2
		BEGIN
			DELETE FROM TMP_COMPRA WHERE TMP_CO_FOLIO = @TMP_CO_FOLIO 
		END

	ELSE IF @OP = 3
		BEGIN
			INSERT INTO COMPRAS(CO_FOLIO, CO_SERIE, CO_ID_TIPODOCTO, CO_MONTO, CO_ID_PROVEEDOR, CO_ID_ALMACEN, CO_FACTURA, CO_FECHA)
			SELECT TMP_CO_FOLIO, TMP_CO_SERIE, TMP_CO_ID_TIPODOCTO, TMP_CO_MONTO, TMP_CO_ID_PROVEEDOR, TMP_CO_ID_ALMACEN, TMP_CO_FACTURA, TMP_CO_FECHA
			FROM TMP_COMPRA 

			INSERT INTO COMPRAS_DETALLE (CD_FOLIO, CD_SERIE, CD_ID_TIPODOCTO, CD_ID_PRODUCTO,CD_CANTIDAD, CD_IMPORTE, CD_IVA, CD_UBICACION)
			SELECT TMP_CO_FOLIO, TMP_CO_SERIE, TMP_CO_ID_TIPODOCTO, TMP_CO_ID_PRODUCTO,TMP_CD_CANTIDAD,TMP_CD_IMPORTE, TMP_CD_IVA, TMP_CD_UBICACION
			FROM TMP_COMPRA

			DELETE FROM dbo.TMP_COMPRA
			
		END

	




END
GO
/****** Object:  StoredProcedure [dbo].[SP_WRITE_VENTAS]    Script Date: 28/03/2023 12:00:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_WRITE_VENTAS]
@OP tinyint = 0,
@TMP_ID_CLIENTE TINYINT = 0,
@TMP_ID_ALMACEN TINYINT = 0,
@TMP_FOLIO TINYINT = 0,
@TMP_SERIE CHAR(3) = '',
@TMP_ID_TIPODOCTO TINYINT = 0,
@TMP_ID_PRODUCTO INT = 0,
@TMP_CANTIDAD FLOAT = 0,
@TMP_IMPORTE FLOAT = 0,
@TMP_IVA FLOAT = 0,
@TMP_FECHA DATETIME = '01/01/1900',
@TMP_MONTO FLOAT = 0
AS
BEGIN 
	if @OP = 1
	BEGIN
    
		INSERT INTO dbo.TMPVENTA_DETALLE (TMP_ID_CLIENTE,TMP_ID_ALMACEN,TMP_FOLIO,TMP_SERIE,TMP_ID_TIPODOCTO,TMP_ID_PRODUCTO,TMP_CANTIDAD,TMP_IMPORTE,TMP_IVA, TMP_FECHA, TMP_MONTO)			
		VALUES(@TMP_ID_CLIENTE,@TMP_ID_ALMACEN,@TMP_FOLIO,@TMP_SERIE,@TMP_ID_TIPODOCTO,@TMP_ID_PRODUCTO,@TMP_CANTIDAD,@TMP_IMPORTE,@TMP_IVA,@TMP_FECHA,@TMP_MONTO)

		  
	END
	
	ELSE IF @OP = 2
		BEGIN
			DELETE FROM TMPVENTA_DETALLE WHERE TMP_FOLIO = @TMP_FOLIO and TMP_SERIE = @TMP_SERIE
		END

	ELSE IF @OP = 3
		BEGIN
			INSERT INTO VENTAS (VE_FOLIO, VE_SERIE, VE_ID_TIPODOCTO, VE_MONTO, VE_ID_CLIENTE, VE_ID_ALMACEN, VE_FECHA)
			SELECT TMP_FOLIO, TMP_SERIE, TMP_ID_TIPODOCTO, TMP_MONTO, TMP_ID_CLIENTE, TMP_ID_ALMACEN, TMP_FECHA
			FROM TMPVENTA_DETALLE

			INSERT INTO VENTAS_DETALLE (VD_FOLIO, VD_SERIE, VD_ID_TIPODOCTO, VD_ID_PRODUCTO, VD_CANTIDAD, VD_IMPORTE, VD_IVA)
			SELECT TMP_FOLIO, TMP_SERIE, TMP_ID_TIPODOCTO, TMP_ID_PRODUCTO, TMP_CANTIDAD, TMP_IMPORTE, TMP_IVA
			FROM TMPVENTA_DETALLE
			

			DELETE from dbo.TMPVENTA_DETALLE

		END

END

SELECT * FROM dbo.VENTAS

GO
USE [master]
GO
