USE [VENTAS]
GO
/****** Object:  StoredProcedure [dbo].[SP_UNIDAD]    Script Date: 27/03/2023 10:10:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_UNIDAD]
@OP TINYINT = 0,
@UN_ID TINYINT = 0,
@UN_DESCRIPCION VARCHAR (100) = NULL
AS 
BEGIN
	IF @OP = 1
		--ACTUALIZAR Y REGISTRAR DATOS
		BEGIN
			SET @UN_ID=(SELECT ISNULL (MAX(UN_ID), 0) + 1 FROM UNIDAD)
			IF NOT EXISTS(SELECT * FROM UNIDAD WHERE UN_ID = @UN_ID)
				BEGIN 
				INSERT INTO UNIDAD(UN_ID,UN_DESCRIPCION)
				VALUES (@UN_ID, @UN_DESCRIPCION)
				END
		END
		--ACTUALIZAR DATOS 
		IF @OP = 2
			BEGIN
				UPDATE UNIDAD SET UN_DESCRIPCION = @UN_DESCRIPCION
				WHERE UN_ID = @UN_ID
			END
		-------------------------------------------------------------------------------------------------------------------------
		IF @OP = 3
		BEGIN
			--ELIMINA DATOS EN ESPECIFICO 
			DELETE FROM UNIDAD WHERE UN_ID = @UN_ID
		END
END

